body{
    margin: 0px;
    padding: 0px;
    background-color: black;
}

.transteam{
    margin: auto;
    width: 100%;
    background-color: #1A1F1A;
    min-height: 1000px;
}
.header{
    background: linear-gradient(-13deg, rgb(106 106 106) -49%, rgb(0, 0, 0));
}
.header--container{
    height: 40px;
    position: relative;
}

.header--container__logo{
    height: 100%;
    position: absolute;
}

.header--container__logo > a{
    height: 100%;
}

.header--container__logo > a > img{
    height: 100%;
    margin-left: 10px;
}

.header--container__name{
    height: 100%;
    margin: auto;
}

.header--container__name > h2{
    margin: 0px;
    text-align: center;
    line-height: 40px;
    text-shadow: 0 0 0.12em rgb(0 0 0), 0 0 0.2em #000000, 0 0 1em #ffffff;
    font-family: 'Playfair Display', serif;
}

.header--container__name > h2 > a{
    text-decoration: none;
    color: #b90000;
}
















.banner{
    position: sticky;
    top:-10px;
    z-index: 999;
}
.banner--container{
    position: relative;
}

.banner--container__logo{
    position: absolute;
    top: 0px;
    background: transparent;
    width: 100%;
}

.banner--container__logo >div{
    width: 130px;
    margin: auto;
}

.banner--container__logo > div > img{
    width: 100%;
    
}

.banner--container__name{
    padding-top: 30px;
    position:relative;
    background: transparent;
}

.banner--container__name > div{
    position: absolute;
    width: 100%;
}

.banner--container__name > div:first-child{
    z-index: 1;
}

.banner--container__name >div >h1{
    font-size: 50px;
}

.banner--container__name > div:first-child > h1{
    font-family: 'Playfair Display', serif;
    text-align: center;
    margin: 0px;
    background: url(../image/giftop.gif);
    background-size: cover;
    color: transparent;
    -webkit-background-clip: text;
}

.banner--container__name > div:last-child > h1{
    font-family: 'Playfair Display', serif;
    text-align: center;
    margin: 0px;
    text-shadow: 0 0 0.15em red, 0 0 0.2em #000000, 0 0 1em #ffffff;
}


















.container--nav{
    width: 90%;
    margin: 20px auto;
    height: 30px;
    position: relative;
    border-radius: 10px;
    display: flex;
    max-width: 1200px;
}

.container--nav >span:first-child{
    border-radius: 10px 0px 0px 10px;
}

.container--nav >span:last-child{
    top: 0;
    right: 0;
    border-radius: 0px  10px 10px 0px;
}

.container--nav >h3{
    margin: 0px;
    text-align: center;
    height: 100%;
    line-height: 30px;
    flex: 1;
    text-shadow: 0 0 0, 0 0 0, 0 0 1em #ffffff;
}

.container--nav > span{
    display: block;
    height: 100%;
    width: 10%;
    margin-bottom: 20px;
}

.comic{
    position: relative;
    top: 110px;
}

.comic--container{
    width: 100%;
    border-top: 2px solid #E41A57;
    border-bottom: 2px solid #E41A57;
}

.comic--container__nav{
    box-shadow: 0 0 20px #E41A57;
}
.comic--container__nav>span{
    background-color: #E41A57;
    border: 2px solid #E41A57;
}

.comic--container__nav>h3{
    color: #E41A57;
    border: 2px solid #E41A57;
}


.comic--list,
.member--list{
    overflow-x: scroll;
    overflow-y: hidden;
    margin-bottom: 10px;
}

.comic--list__item,
.member--list__item{
    margin-bottom: 10px;
    margin-top: 10px;
}

.comic--list__item > div:first-child{
    width: 90%;
    margin: auto;
    position: relative;
}
.comic--list__info1:active{
    display: none;
}


.comic--list__item > div:hover .comic--list__info,
.comic--list__item > div:hover .comic--list__info1{
    z-index: 2;
}




.comic--list__item > div > img{
    width: 100%;
    width: -webkit-calc(100% - 4px);
    border: 2px solid #E41A57;
}


.comic--list__info{
    width: 100%;
    width: -webkit-calc(100% - 4px);
    height: 100%;
    height: -webkit-calc(100% - 8px);
    background-color: rgba(0, 0, 0,0.8);
    position: absolute;
    top: 0px;
    border: 2px solid red;
    box-shadow: 0 0 10px red;
   z-index: -1;
}
.comic--list__info1{
    width: 100%;
    height: 100%;
    background-color: transparent;
    position: absolute;
    top: 0px;
    z-index: -1;
}

.comic--list__info >h3{
    color: yellow;
    margin: 10px;
    text-align: center;
}

.comic--list__info >h4{
    color: white;
    margin: 10px;
    text-align: center;
}

.comic--list__info >h4 >a{
    color: white;
    text-shadow: 0 0 0.12em rgb(244 248 0), 0 0 0.2em #000000, 0 0 1em rgb(244 248 0);
}

.comic--list__info > .info__ytb >a{
    font-size: 50px;
    text-shadow: 0 0 0.15em rgb(248, 0, 0), 0 0 0.2em #000000, 0 0 1em rgb(248, 0, 0);
}

.member--container{
    width: 100%;
    border-top: 2px solid #E2E700;
    border-bottom: 2px solid #E2E700;
    margin-top: 120px;
}

.member--container__nav{
    box-shadow: 0 0 20px #E2E700;
}

.member--container__nav>span{
    background-color: #E2E700;
    border: 2px solid #E2E700;
}

.member--container__nav>h3{
    color: #E2E700;
    border: 2px solid #E2E700;
}

.member--list__item > div{
    width: 90%;
    margin: auto;
}

.member--list__item > div > img{
    width: 100%;
    width: -webkit-calc(100% - 4px);
    border: 2px solid #E2E700;
    border-radius: 100em;
}

.member--list__item > h5{
    color: white;
    text-align: center;
    text-shadow: 0 0 0.12em rgb(244 248 0), 0 0 0.2em #000000, 0 0 1em rgb(244 248 0);
}









.community--container{
    width: 100%;
    border-top: 2px solid #24FF00;
    border-bottom: 2px solid #24FF00;
    margin-top: 20px;
}

.community--container__nav{
    box-shadow: 0 0 20px #24FF00;
}

.community--container__nav>span{
    background-color: #24FF00;
    border: 2px solid #24FF00;
}

.community--container__nav>h3{
    color: #24FF00;
    border: 2px solid #24FF00;
}

.community--list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.community--list__item{
    margin: 10px 20px;
}


.community--list__item > a{
    color: black;
    font-size: 80px;
}

.community--list__item >a:hover{
    color: white;
}

.community--list__item > span{
    display: block;
    text-align: center;
    font-size: 25px;
    color: #24FF00;
    font-weight: bold;
}

.community--list__item.facebook >a,
.community--list__item.mess > a{
    text-shadow: 0 0 0.5em rgb(0, 45, 248), 0 0 0.2em #000000, 0 0 1em #0099ff;
}

.community--list__item.youtobe >a{
    text-shadow: 0 0 0.5em rgb(248, 0, 0), 0 0 0.2em #000000, 0 0 1em #ff0000;
}






.donate{
}

.donate--container{
    width: 100%;
    border-top: 2px solid #CD1CA6;
    border-bottom: 2px solid #CD1CA6;
    margin: 20px 0px;
}

.donate--container__nav{
    box-shadow: 0 0 20px #CD1CA6;
}

.donate--container__nav>span{
    background-color: #CD1CA6;
    border: 2px solid #CD1CA6;
}

.donate--container__nav>h3{
    color: #CD1CA6;
    border: 2px solid #CD1CA6;
}

.donate--container__donate{
    max-width: 1200px;
    margin: auto;
}

.donate--bidv{
    margin-bottom: 100px;
}

.donate--list__info{
    margin: 20px;
}

.donate--list__info >p{
    margin: 10px;
    color: #CD1CA6;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    
}

.donate--list__qrcode{
    width: 80%;
    max-width: 500px;
    margin: auto;
    margin-bottom: 20px;
}

.donate--list__qrcode > img{
    width: 100%;
}









